/* About Accordion */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  line-height: 3;
  cursor: pointer;
  font-size: 2em;
  color: grey;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
       -o-transition: max-height .35s;
          transition: max-height .35s;
}

.tab-content p {
  margin: 1em;
}

input:checked ~ .tab-content {
  max-height: 200em;
}

/* General Utility */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Maven Pro', sans-serif;
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 10em;
}

p {
  text-align: center;
  font-size: 4em;
}

small {
  font-size: .9em;
  color: grey;
}

/* Navigation Bar */
nav {
  padding-top: 5em;
  width: 100%;
}

/* Navigation Menu */
#menu {
  background-color: #f3f3f3;
  padding-left: 3em;
  font-size: 3em;
}

.menu-link {
  position: fixed;
  right: 10vw;
}

nav img[src*="dragon"] {
  width: 25em;
}

/* Main Sections */
main {
  margin-bottom: 100vh;
}

main:last-child {
  margin-bottom: 10em;
}

/* Header */

header {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Technology Section */

section#technology {
  margin-top: 10em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

section#technology * {
  align-self: center;
  height: 15em;
}

/* Overview Section */
section#overview {
  display: flex;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

#overview p {
  font-size: 2.5em;
}

#overview a {
  font-size: 2em;
  color: grey;
}

/* Portfolio Section */
section#portfolio {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

div.images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5em;
  width: 80%;
}

div.images figure {
  margin-bottom: 4em;
}

div.images img {
  height: 25em;
}

#portfolio a {
  color: grey;
}

#portfolio figcaption {
  font-size: 1.1em;
}

#portfolio .github {
  font-size: 1.8em;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20em;
  background-color: #f3f3f3;
}

/* Laptop Viewports */
@media screen and (max-width: 1440px) {
  /* Navigation Bar */
  nav { width: 85%; }

  .container { width: 85%; }

  nav img[src*="dragon"] { width: 15em; }

  /* Header */
  h1 { font-size: 5em; }

  header p { font-size: 2em; }

  /* Overview Section */
  section#overview { width: 65%; }

  /* Portfolio Section */
  div.images { width: 100%; }
}

@media screen and (max-width: 1024px) {
  /* Navigation Bar */
  nav { width: 80%; }

  .container { width: 80%; }

  nav img[src*="dragon"] { width: 13em; }

  /* Navigation Menu */
  #menu {
    padding-left: 1.25em;
    font-size: 2em;
  }

  /* Header */
  header { margin-top: 15em; }

  /* Technology Section */
  section#technology { margin-top: 6em; }
  section#technology * { height: 12em; }

  /* Overview Section */
  section#overview { width: 75%; }

  /* Portfolio Section */
  div.images img { height: 30em; }

  div.images { width: 100%; }
}

/* Tablet Viewports */
@media screen and (max-width: 768px) {
  /* Navigation Bar */
  .container { width: 75%; }

  nav img[src*="dragon"] { width: 8em; }

  nav { padding-top: 3em; }

  /* Header */
  h1 { font-size: 4em; }

  header p { font-size: 1.5em; }

  header { margin-top: 10em; }

  /* Technology Section */
  section#technology * { height: 10em; }

  /* Overview Section */
  section#overview { width: 85%; }

  /* Portfolio Section */
  div.images img { height: 25em; }

  #portfolio .github { font-size: 1.4em; }
}

/* Mobile Viewports */
@media screen and (max-width: 425px) {
  /* Navigation Bar */
  .container { width: 70%; }

  nav img[src*="dragon"] { width: 6em; }

  /* Navigation Menu */
  #menu {
    padding-left: 1em;
    font-size: 1em;
  }

  /* Header */
  header { margin-top: 1em; }

  h1 { font-size: 3em; }

  header p { font-size: 1.3em; }

  /* Technology Section */
  section#technology { margin-top: 4em; }

  section#technology * { height: 5em; }

  /* Overview Section */
  section#overview { width: 100%; }

  #overview p {
    font-size: 1.2em;
  }

  #overview a {
    font-size: 1em;
  }

  /* Portfolio Section */
  div.images img { height: 15em; }

  #portfolio .github { font-size: 1.2em; }
}

@media screen and (max-width: 375px) {
  /* Header */
  h1 { font-size: 2.5em; }

  header p { font-size: 1.2em; }

  nav { padding-top: 2em; }

  /* Portfolio Section */
  div.images img { height: 12em; }
}

@media screen and (max-width: 320px) {
  /* Navigation */
  .container { width: 85%; }

  nav img[src*="dragon"] { width: 6em; }

  /* Header */
  h1 { font-size: 2em; }

  header p { font-size: 1em; }

  /* Technology Section */
  section#technology { margin-top: 2em; }

  section#technology * { height: 3em; }

  /* Portfolio Section */
  #portfolio .github { font-size: 1.1em; }
}
