/* General Utility */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Maven Pro', sans-serif;
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: calc(16px + 6vw);
}

p {
  text-align: left;
  font-size: 4em;
}

small {
  font-size: .9em;
  color: grey;
}

/* Navigation Bar */
nav {
  padding-top: 5vh;
  width: 100%;
}

/* Navigation Menu */
#menu {
  background-color: #f3f3f3;
  padding-left: 3em;
  font-size: 3em;
}

.menu-link {
  position: fixed;
  right: 10vw;
}

nav img[src*="dragon"] {
  width: 17vw;
}

/* Main Sections */
main {
  margin-bottom: 70vh;
}

main:last-child {
  margin-bottom: 15vh;
}

/* Header */
header {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Technology Section */
section#technology {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

section#technology * {
  align-self: center;
  height: 25vh;
}

/* Overview Section */
section#overview {
  display: flex;
  width: 50vw;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

#overview p {
  font-size: 2.5em;
}

#overview a {
  font-size: 2em;
  color: grey;
}

/* Portfolio Section */
section#portfolio {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

div.images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5vh;
}

div.images figure {
  margin-bottom: 4vh;
}

div.images img {
  height: 35vh;
}

#portfolio a {
  color: grey;
}

#portfolio figcaption {
  font-size: 1.1em;
}

#portfolio .github {
  font-size: 1.8em;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 33vh;
  background-color: #f3f3f3;
}

/* Laptop Viewports */
@media screen and (max-width: 1440px) {
  /* Navigation Bar */
  .container { width: 85%; }

  /* Header */
  header p { font-size: 2em; }

  /* Overview Section */
  section#overview { width: 70vw; }
}

@media screen and (max-width: 1024px) {
  /* Navigation Bar */
  .container { width: 80%; }

  /* Navigation Menu */
  #menu {
    padding-left: 1.25em;
    font-size: 2em;
  }

  /* Technology Section */
  section#technology { margin-top: 6em; }
  section#technology * { height: 12em; }

  /* Overview Section */
  #overview p {
    font-size: 1.6em;
  }
}

/* Tablet Viewports */
@media screen and (max-width: 768px) {
  /* Navigation Bar */
  .container { width: 75%; }

  nav { padding-top: 3em; }

  /* Header */
  header p { font-size: 1.5em; }

  /* Technology Section */
  section#technology * { height: 10em; }

  /* Overview Section */
  section#overview { width: 80vw; }

  /* Portfolio Section */
  #portfolio .github { font-size: 1.4em; }
}

/* Mobile Viewports */
@media screen and (max-width: 425px) {
  /* Navigation Bar */
  .container { width: 70%; }

  /* Navigation Menu */
  #menu {
    padding-left: 1em;
    font-size: 1em;
  }

  /* Header */
  header p { font-size: 1.3em; }

  /* Technology Section */
  section#technology { margin-top: 4em; }

  section#technology * { height: 5em; }

  /* Overview Section */
  #overview p {
    font-size: 1.2em;
  }

  #overview a {
    font-size: 1em;
  }

  /* Portfolio Section */
  #portfolio .github { font-size: 1.2em; }
}

@media screen and (max-width: 375px) {
  /* Header */
  header p { font-size: 1.2em; }

  nav { padding-top: 2em; }
}

@media screen and (max-width: 320px) {
  /* Navigation */
  .container { width: 85%; }

  /* Header */
  header p { font-size: 1em; }

  /* Technology Section */
  section#technology { margin-top: 2em; }

  section#technology * { height: 3em; }

  /* Portfolio Section */
  #portfolio .github { font-size: 1.1em; }
}
